<hr>
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-sm-10">
         
        <div class="col-sm-2">
            <a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
              <h1>User name</h1></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
           

           
           

        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="width: 80%;">

            <ul class="nav nav-tabs" id="myTab">
                <!--<li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>-->
                <!-- <li><a href="#messages" data-toggle="tab">Messages</a></li>-->
                <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>

            <div class="tab-content">
                 <!--<div class="tab-pane active" id="home">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Label 1</th>
                                    <th>Label 2</th>
                                    <th>Label 3</th>
                                    <th>Label </th>
                                    <th>Label </th>
                                    <th>Label </th>
                                </tr>
                            </thead>
                            <tbody id="items">
                                <tr>
                                    <td>1</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <ul class="pagination" id="myPager"></ul>
                            </div>
                        </div>
                    </div>
               /table-resp

                    <hr>

                </div>-->
                <!--/tab-pane-->
               <!-- <div class="tab-pane" id="messages">

                    <h2></h2>

                    <ul class="list-group">
                        <li class="list-group-item text-muted">Inbox</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Here is your a link to the latest summary report from the..</a> 2.13.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Hi Joe, There has been a request on your account since that was..</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Nullam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Thllam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Wesm sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">For therepien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Also we, havesapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Swedish chef is assaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>

                    </ul>

                </div>
                /tab-pane-->
                <div class="tab-pane active" id="settings">

                    <hr>
                    <form class="form"   action="##" method="post" id="registrationForm" [formGroup]="myForm">
                        <div class="form-group">
                            <div class="col-xs-6">
                                    <mat-form-field class="example-full-width"  >
                                            <mat-label ><h3 style="font-size: 20px;">First Name</h3></mat-label>
                                               <!--class="form-control"-->  <input matInput  type="text" 
                                                name="firstname" id="firstname" placeholder="firstname" 
                                                title="enter your firstname if any." formControlName="firstname"
                                                [(ngModel)]="l.firstname">
                                            <mat-error class="has-text-danger">
                                            your firstname does not look right
                                            </mat-error>
                                    </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group">
                                <div class="col-xs-6">
                                        <mat-form-field class="example-full-width"  >
                                                <mat-label ><h3 style="font-size: 20px;">Last Name</h3></mat-label>
                                                   <!--class="form-control"-->  <input matInput  type="text" 
                                                    name="lastname" id="lastname" placeholder="lastname" 
                                                    title="enter your lastname if any." formControlName="lastname"
                                                    [(ngModel)]="l.lastname">
                                                <mat-error class="has-text-danger">
                                                your lastname does not look right
                                                </mat-error>
                                        </mat-form-field>
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                    <mat-form-field class="example-full-width"  >
                                            <mat-label ><h3 style="font-size: 20px;">Email</h3></mat-label>
                                               <!--class="form-control"-->  <input matInput  type="text" 
                                                name="email" id="email" placeholder="email" 
                                                title="enter your email if any." formControlName="email"
                                                [(ngModel)]="l.email">
                                            <mat-error class="has-text-danger">
                                            your email does not look right
                                            </mat-error>
                                    </mat-form-field>
                            </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                                <mat-form-field class="example-full-width"  >
                                        <mat-label ><h3 style="font-size: 20px;">Passowrd</h3></mat-label>
                                           <!--class="form-control"-->  <input matInput  type="text" 
                                            name="password" id="password" placeholder="password" 
                                            title="enter your password if any." formControlName="password"
                                            [(ngModel)]="l.password">
                                        <mat-error class="has-text-danger">
                                        your password does not look right
                                        </mat-error>
                                </mat-form-field>
                        </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                            <mat-form-field class="example-full-width"  >
                                    <mat-label ><h3 style="font-size: 20px;">cin</h3></mat-label>
                                       <!--class="form-control"-->  <input matInput  type="text" 
                                        name="cin" id="cin" placeholder="cin" 
                                        title="enter your cin if any." formControlName="cin"
                                        [(ngModel)]="l.cin">
                                    <mat-error class="has-text-danger">
                                    your cin does not look right
                                    </mat-error>
                            </mat-form-field>
                    </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                        <mat-form-field class="example-full-width"  >
                                <mat-label ><h3 style="font-size: 20px;">Tel</h3></mat-label>
                                   <!--class="form-control"-->  <input matInput  type="text" 
                                    name="tel" id="tel" placeholder="tel" 
                                    title="enter your tel if any." formControlName="tel"
                                    [(ngModel)]="l.tel">
                                <mat-error class="has-text-danger">
                                your tel does not look right
                                </mat-error>
                        </mat-form-field>
                </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                    <mat-form-field class="example-full-width"  >
                            <mat-label ><h3 style="font-size: 20px;">Adresse</h3></mat-label>
                               <!--class="form-control"-->  <input matInput  type="text" 
                                name="adresse" id="adresse" placeholder="adresse" 
                                title="enter your adresse if any." formControlName="adresse"
                                [(ngModel)]="l.adress">
                            <mat-error class="has-text-danger">
                            your adresse does not look right
                            </mat-error>
                    </mat-form-field>
            </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6">
            <mat-label ><h3 style="font-size: 20px;">Sexe</h3></mat-label>
            <div class="form-check"  >
                <input class="form-check-input" type="radio"  id="example-full-width" name="sexe" id="sexe" value="male" formControlName="sexe"  [(ngModel)]="l.sexe" checked>
                <label class="form-check-label" for="sexe" id="example-full-width">
                 male
                </label>
              </div>
              <div class="form-check" >
                <input class="form-check-input" type="radio" id="example-full-width" name="sexe" id="sexe" value="female" formControlName="sexe" [(ngModel)]="l.sexe" checked>
                <label class="form-check-label" for="sexe" id="example-full-width">
                 female
                </label>
              </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <mat-label ><h3 style="font-size: 20px;">Job</h3></mat-label>
        <mat-form-field appearance="fill" >
            <mat-label>Select a job</mat-label>
            <mat-select [(value)]="l.job" formControlName="job" [(ngModel)]="l.job">
              <mat-option>None</mat-option>
              <mat-option value="employe">employe</mat-option>
              <mat-option value="non employe">non employe</mat-option>
              <mat-option value="autre">autre</mat-option>
            </mat-select>
          </mat-form-field>
          <div>{{selected}}</div> 
        </div>
    </div>
                        
                        
                        <div class="form-group">
                            <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit" [disabled]="myForm.invalid" (click)="update()"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                            <button  class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!--/tab-pane-->
        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
<!--/row-->