<div class="container">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="portlet light profile-sidebar-portlet bordered">
                <div class="profile-userpic">
                    <img src="https://www.menzili.tn/upload/photos/2019/10/18/12/19/h447s23952.png"
                        class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> {{m.etat}} </div>
                    <div class="profile-usertitle-job"> {{m.id}} </div>
                </div>

            </div>
        </div>
        <div class="col-md-8">
            <div class="portlet light bordered" style="margin-right: 150px;">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Your info</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div>


                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                    data-toggle="tab">Update</a></li>

                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <form class="form" action="##" method="post" id="registrationForm" [formGroup]="myForm">
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <mat-form-field class="example-full-width" style="margin-top: 21px;">
                                                <mat-label>
                                                    <h3 style="font-size: 20px;">Description</h3>
                                                </mat-label>
                                                <textarea matInput type="text" name="description" id="description"
                                                    placeholder="description" title="enter your desription if any."
                                                    [(ngModel)]="m.description"
                                                    formControlName="description"></textarea>
                                                <mat-error class="has-text-danger">
                                                    your description does not look right
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <mat-form-field class="example-full-width" style="margin-top: 21px;">
                                                <mat-label>
                                                    <h3 style="font-size: 20px;">Nombre chambres</h3>
                                                </mat-label>
                                                <!--class="form-control"--> <input matInput type="text"
                                                    name="nbchambres" id="nbchambres" placeholder="nbchambres"
                                                    title="enter nbchambres if any." formControlName="nbchambre"
                                                    [(ngModel)]="m.nb_chambres">
                                                <mat-error class="has-text-danger">
                                                    nbchambres does not look right
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>
                                                    <h3 style="font-size: 20px;">Price</h3>
                                                </mat-label>
                                                <input matInput type="text" name="price" id="price" placeholder="price"
                                                    title="enter your price if any." formControlName="price"
                                                    [(ngModel)]="m.prix">
                                                <mat-error class="has-text-danger">
                                                    your price does not look right
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>
                                                    <h3 style="font-size: 20px;">price after remise</h3>
                                                </mat-label>
                                                <!--class="form-control"--> <input matInput type="text" name="remise"
                                                    id="remise" placeholder="remise" title="enter your remise if any."
                                                    formControlName="remise" [(ngModel)]="m.remisepromo">
                                                <mat-error class="has-text-danger">
                                                    your cin does not look right
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <mat-label>
                                                <h3 style="font-size: 20px;">Etat</h3>
                                            </mat-label>
                                            <mat-form-field appearance="fill">
                                                <mat-label>Select Etat</mat-label>
                                                <mat-select [(value)]="m.etat" formControlName="etat"
                                                    [(ngModel)]="m.etat">
                                                    <mat-option>None</mat-option>
                                                    <mat-option value="louee">louee</mat-option>
                                                    <mat-option value="non louee">non louee</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                            <div>{{selected}}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <mat-label>
                                                <h3 style="font-size: 20px;">ismeuble</h3>
                                            </mat-label>
                                            <mat-form-field appearance="fill">
                                                <mat-label>ismeuble maison</mat-label>
                                                <mat-select [(value)]="m.ismeuble" formControlName="ismeuble"
                                                    [(ngModel)]="m.ismeuble">
                                                    <mat-option>None</mat-option>
                                                    <mat-option value="meuble">meuble</mat-option>
                                                    <mat-option value="non meuble">non meuble</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                            <div>{{selected2}}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <mat-label>
                                                <h3 style="font-size: 20px;">type</h3>
                                            </mat-label>
                                            <mat-form-field appearance="fill">
                                                <mat-label>type maison</mat-label>
                                                <mat-select [(value)]="m.type" formControlName="type"
                                                    [(ngModel)]="m.type">
                                                    <mat-option>None</mat-option>
                                                    <mat-option value="etudiant">etudiant</mat-option>
                                                    <mat-option value="ouvrier">ouvrier</mat-option>
                                                    <mat-option value="sayefi">sayefi</mat-option>
                                                    <mat-option value="autre">autre</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                            <div>{{selected3}}</div>
                                        </div>
                                    </div>





                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <br>
                                            <button class="btn btn-lg btn-success" type="submit"
                                                [disabled]="myForm.invalid" (click)="update()"><i
                                                    class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                            <button class="btn btn-lg" type="reset"><i
                                                    class="glyphicon glyphicon-repeat"></i> Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">Profile</div>
                            <div role="tabpanel" class="tab-pane" id="messages">Messages</div>
                            <div role="tabpanel" class="tab-pane" id="settings">Settings</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>